# Departments data preparation - French geographic reference

**Project: Analysis of cultural accessibility and territorial inequalities in France**

---

## Dataset Information

**Source:** API D√©coupage Administratif (French Government)

**Name:** D√©partements - French Administrative Divisions (Level 2)

**Origin:** Official government API

**Year:** 2025 (continuously updated)

**Last Update:** Real-time

**Content:** All 101 French departments with codes and names

**File Location:** `data/raw/geography/departements.json`

**API URL:** https://geo.api.gouv.fr/departements?fields=nom,code,codeRegion

**Purpose:** Reference table for department names and codes

**Key columns:**
- `code`: Department code (2 digits, or 2A/2B for Corsica, 3 for DOM-TOM)
- `nom`: Department name
- `codeRegion`: Region code (parent administrative division)

In [5]:
import pandas as pd
import json               # json : javascript object notation

## Download from an API (JSON file)

In [6]:

import requests, os
url = "https://geo.api.gouv.fr/departements?fields=nom,code,codeRegion"
response = requests.get(url)
if response.status_code == 200:
    os.makedirs('data/raw/geography', exist_ok=True)
    with open('data/raw/geography/departements.json', 'w', encoding='utf-8') as f:
        json.dump(response.json(), f, ensure_ascii=False, indent=2)

## Load the Data

In [7]:
# Load JSON
with open('data/raw/geography/departements.json', 'r', encoding='utf-8') as f:
    dept_data = json.load(f)

df_depts = pd.DataFrame(dept_data)
print(f"{len(df_depts)} departments")
df_depts.head(10)

‚úÖ Loaded: 101 departments

                       nom code codeRegion
0                      Ain   01         84
1                    Aisne   02         32
2                   Allier   03         84
3  Alpes-de-Haute-Provence   04         93
4             Hautes-Alpes   05         93
5          Alpes-Maritimes   06         93
6                  Ard√®che   07         84
7                 Ardennes   08         44
8                   Ari√®ge   09         76
9                     Aube   10         44

In [8]:
# Rename columns
df_depts.columns = ['dept_code', 'dept_name', 'region_code']
print("‚úÖ Columns renamed")
df_depts.head(10)

‚úÖ Columns renamed

                 dept_code dept_name region_code
0                      Ain        01          84
1                    Aisne        02          32
2                   Allier        03          84
3  Alpes-de-Haute-Provence        04          93
4             Hautes-Alpes        05          93
5          Alpes-Maritimes        06          93
6                  Ard√®che        07          84
7                 Ardennes        08          44
8                   Ari√®ge        09          76
9                     Aube        10          44

## Explore the Data

In [9]:
print(f"Total departments: {len(df_depts)}")
print(f"\nDepartments by region:")
print(df_depts['region_code'].value_counts().sort_index())

Total departments: 101

Departments by region:
region_code
01     1
02     1
03     1
04     1
06     1
11     8
24     6
27     8
28     5
32     5
44    10
52     5
53     4
75    12
76    13
84    12
93     6
94     2
Name: count, dtype: int64

In [10]:
# PACA departments
paca_depts = df_depts[df_depts['region_code'] == '93']
print("PACA departments:")
print(paca_depts.to_string(index=False))

PACA departments:
              dept_code dept_name region_code
Alpes-de-Haute-Provence        04          93
           Hautes-Alpes        05          93
        Alpes-Maritimes        06          93
       Bouches-du-Rh√¥ne        13          93
                    Var        83          93
               Vaucluse        84          93

In [13]:
# Special codes
print("üîç Special department codes:")
special = df_depts[df_depts['dept_code'].str.len() > 2]
print(special.to_string(index=False))
print("\nFrance use special codes for some departments, with letters (Corsica) or 3 numbers (DOM-TOM):")
print("\n2A/2B = Corsica, 97X = DOM-TOM")

üîç Special department codes:
              dept_code dept_name region_code
                    Ain        01          84
                  Aisne        02          32
                 Allier        03          84
Alpes-de-Haute-Provence        04          93
           Hautes-Alpes        05          93
        Alpes-Maritimes        06          93
                Ard√®che        07          84
               Ardennes        08          44
                 Ari√®ge        09          76
                   Aube        10          44
                   Aude        11          76
                Aveyron        12          76
       Bouches-du-Rh√¥ne        13          93
               Calvados        14          28
                 Cantal        15          84
               Charente        16          75
      Charente-Maritime        17          75
                   Cher        18          24
                Corr√®ze        19          75
              C√¥te-d'Or        21          27
          C√¥tes-d'Armor        22          53
                 Creuse        23          75
               Dordogne        24          75
                  Doubs        25          27
                  Dr√¥me        26          84
                   Eure        27          28
           Eure-et-Loir        28          24
              Finist√®re        29          53
           Corse-du-Sud        2A          94
            Haute-Corse        2B          94
                   Gard        30          76
          Haute-Garonne        31          76
                   Gers        32          76
                Gironde        33          75
                H√©rault        34          76
        Ille-et-Vilaine        35          53
                  Indre        36          24
         Indre-et-Loire        37          24
                  Is√®re        38          84
                   Jura        39          27
                 Landes        40          75
           Loir-et-Cher        41          24
                  Loire        42          84
            Haute-Loire        43          84
       Loire-Atlantique        44          52
                 Loiret        45          24
                    Lot        46          76
         Lot-et-Garonne        47          75
                 Loz√®re        48          76
         Maine-et-Loire        49          52
                 Manche        50          28
                  Marne        51          44
            Haute-Marne        52          44
                Mayenne        53          52
     Meurthe-et-Moselle        54          44
                  Meuse        55          44
               Morbihan        56          53
                Moselle        57          44
                 Ni√®vre        58          27
                   Nord        59          32
                   Oise        60          32
                   Orne        61          28
          Pas-de-Calais        62          32
            Puy-de-D√¥me        63          84
   Pyr√©n√©es-Atlantiques        64          75
        Hautes-Pyr√©n√©es        65          76
    Pyr√©n√©es-Orientales        66          76
               Bas-Rhin        67          44
              Haut-Rhin        68          44
                  Rh√¥ne        69          84
            Haute-Sa√¥ne        70          27
         Sa√¥ne-et-Loire        71          27
                 Sarthe        72          52
                 Savoie        73          84
           Haute-Savoie        74          84
                  Paris        75          11
         Seine-Maritime        76          28
         Seine-et-Marne        77          11
               Yvelines        78          11
            Deux-S√®vres        79          75
                  Somme        80          32
                   Tarn        81          76
        Tarn-et-Garonne        82          76
                    Var        83          93
               Vaucluse        84          93
                 Vend√©e        85          52
                 Vienne        86          75
           Haute-Vienne        87          75
                 Vosges        88          44
                  Yonne        89          27
  Territoire de Belfort        90          27
                Essonne        91          11
         Hauts-de-Seine        92          11
      Seine-Saint-Denis        93          11
           Val-de-Marne        94          11
             Val-d'Oise        95          11
             Guadeloupe       971          01
             Martinique       972          02
                 Guyane       973          03
             La R√©union       974          04
                Mayotte       976          06

France use special codes for some departments, with letters (Corsica) or 3 numbers (DOM-TOM):

2A/2B = Corsica, 97X = DOM-TOM

## CSV preparation

In [ ]:
import os
os.makedirs('data/processed', exist_ok=True)

output_file = 'data/processed/departments_for_sql.csv'
df_depts.to_csv(output_file, index=False, encoding='utf-8')   # utf-8 : compatible unicode