# Income Data Preparation - FILOSOFI (France)

**Project: Analysis of cultural accessibility and territorial inequalities in France**

### Research Questions:
1. Geographic Distribution: How is cultural supply distributed across French territories?
2. Urban vs Rural: Are there significant disparities between urban and rural areas?
3. Socio-Economic Correlation: Is there a relationship between territorial wealth and cultural supply?
4. Typological Diversity: What types of cultural venues exist and how are they distributed?
5. PACA Regional Focus: How does PACA compare to national averages?

---

## Dataset Information

**Source:** INSEE - FILOSOFI (Fichier Localisé Social et Fiscal)

**Name:** Revenus disponibles des ménages (Household disposable income)

**Origin:** Tax and social data aggregated by INSEE

**Year:** 2021 (most recent data)

**Last Update:** Published in 2024

**Content:** Income statistics by commune (median income, poverty rate, inequality indicators)

**Download from:** https://www.insee.fr/fr/statistiques/8229323 

**Purpose:** Analyze correlation between income and cultural infrastructure

**Key for joins:** `CODGEO` (commune code) → joins with BASILIC `code_insee`

**Important columns:**


 **Important information:** 

 Les metadonnées sont disponibles dans un fichiers à associer à la base de données Filosifi.

 Disposable income better reflects actual living standards because it accounts for taxes and social transfers, making it more relevant for socio-economic comparisons at IRIS level.
 
 In Filosofi, le seuil de pauvreté est fixé à 60 % du niveau de vie médian métropolitain.
 
Les données portent sur les IRIS des communes d’au moins 5000 habitants de la France métropolitaine, la Martinique et La Réunion. Jusqu’au millésime 2019, ces données portaient sur les IRIS des communes de 10 000 habitants ou plus.
Les indicateurs sont soumis au secret statistique pour garantir la confidentialité des données.
Les indicateurs proposés sont non sommables.
Les données 2021 sont proposées dans la géographie en vigueur au 1er janvier 2022.

Avertissement : il est conseillé d’interpréter avec prudence les évolutions de revenus ou de pauvreté à l’échelon local.

EXTRACT INSEE COMMUNE CODE :
IRIS = commune code (first 5 chars) + IRIS code (last 4)
#Example: 75101A001 → 75101 (commune) + A001 (IRIS)

In [2]:
# Data manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

## Load FILOSOFI Data

**Note from research:**
Last updates : not on data.gouv but : https://www.insee.fr/fr/statistiques/8229323
The INSEE file may have multiple sheets. Usually commune-level data is in the first sheet.

In [5]:

df_income = pd.read_csv('../data/raw/economy/BASE_TD_FILO_IRIS_2021_DISP.csv', encoding='utf-8')

print(f"Loaded: {len(df_income):,} rows")
print(f"Columns: {len(df_income.columns)}")

# PAndas is reading as one column

Loaded: 16,026 rows
Columns: 1

In [17]:
import os

# Chercher dans economy/
economy_dir = "../data/raw/economy/"
print("=== FICHIERS DANS ECONOMY/ ===")
if os.path.exists(economy_dir):
    for file in os.listdir(economy_dir):
        print(f"  - {file}")
else:
    print("❌ Dossier economy/ n'existe pas!")

# Chercher partout dans data/raw/
print("\n=== RECHERCHE FICHIER META PARTOUT ===")
raw_dir = "../data/raw/"
for root, dirs, files in os.walk(raw_dir):
    for file in files:
        if 'meta' in file.lower() and 'filo' in file.lower():
            full_path = os.path.join(root, file)
            print(f"✅ TROUVÉ: {full_path}")

=== FICHIERS DANS ECONOMY/ ===
  - BASE_TD_FILO_IRIS_2021_DISP.csv
  - meta_BASE_TD_FILO_IRIS_2021_DISP.csv

=== RECHERCHE FICHIER META PARTOUT ===
✅ TROUVÉ: ../data/raw/economy\meta_BASE_TD_FILO_IRIS_2021_DISP.csv

In [21]:

df_income = pd.read_csv("../data/raw/economy/BASE_TD_FILO_IRIS_2021_DISP.csv",sep=';', low_memory=False)

# name of the columns : in the meta file
#  French CSV : use " ; " instead of " , "

In [22]:
#print(df_income.shape)
df_income.head()

,IRIS,DISP_TP6021,DISP_INCERT21,DISP_Q121,DISP_MED21,DISP_Q321,DISP_EQ21,DISP_D121,DISP_D221,DISP_D321,...,DISP_PCHO21,DISP_PBEN21,DISP_PPEN21,DISP_PPAT21,DISP_PPSOC21,DISP_PPFAM21,DISP_PPMINI21,DISP_PPLOGT21,DISP_PIMPOT21,DISP_NOTE21
0,010040101,"19,0",2,14990,20350,26140,"0,55",11620,14280,16080,...,"3,0","3,6","26,9","6,2","8,6","3,3","3,8","1,5","-12,5",0
1,010040102,"25,0",1,13880,18570,24760,"0,59",10580,12890,14660,...,"4,2","2,4","24,9","5,8","11,1","3,7","5,1","2,3","-12,4",0
2,010040201,"19,0",1,15190,20700,27180,"0,58",11400,14060,16320,...,"3,5","4,0","27,2","6,4","7,7","2,8","3,3","1,6","-13,8",0
3,010040202,"8,0",1,19600,25230,33170,"0,54",14810,18310,20780,...,"2,4","3,6","23,8","16,2","4,0","1,8","1,5","0,7","-17,3",0
4,010330102,"24,0",1,14050,20420,29640,"0,76",9410,12570,15130,...,"4,9","1,9","23,7","5,2","5,3","1,5","2,5","1,3","-13,1",0

In [25]:
# Métadatas (dictionnary)
df_meta = pd.read_csv("../data/raw/economy/meta_BASE_TD_FILO_IRIS_2021_DISP.csv",sep=';')

print(df_meta.head(2))

       COD_VAR                                LIB_VAR  \
0         IRIS                                   IRIS
1  DISP_TP6021  Taux de pauvreté au seuil de 60 % (%)

                                        LIB_VAR_LONG COD_MOD LIB_MOD TYPE_VAR  \
0  Code du département suivi du numéro de commune...     NaN     NaN     CHAR
1  Taux de pauvreté au seuil de 60 % du revenu di...     NaN     NaN     CHAR

   LONG_VAR
0         9
1         4

In [29]:
# mapping

# META : First column : codes , second columns : column names

var_mapping = dict(zip(df_meta.iloc[:, 0], df_meta.iloc[:, 1]))

for code, label in list(var_mapping.items())[:10]:
    print(f"   {code} : {label}")

   IRIS : IRIS
   DISP_TP6021 : Taux de pauvreté au seuil de 60 % (%)
   DISP_INCERT21 : Incertitude sur les indicateurs DISP_TP6021
   DISP_Q121 : 1ᵉʳ quartile (€)
   DISP_MED21 : Médiane (€)
   DISP_Q321 : 3ᵉ quartile (€)
   DISP_EQ21 : Écart inter-quartile rapporté à la médiane
   DISP_D121 : 1ᵉʳ décile (€)
   DISP_D221 : 2ᵉ décile (€)
   DISP_D321 : 3ᵉ décile (€)

In [36]:
df_income_meta = df_income.rename(columns=var_mapping)

for col in df_income_meta.columns:
    print(col)

IRIS
Taux de pauvreté au seuil de 60 % (%)
Incertitude sur les indicateurs DISP_TP6021
1ᵉʳ quartile (€)
Médiane (€)
3ᵉ quartile (€)
Écart inter-quartile rapporté à la médiane
1ᵉʳ décile (€)
2ᵉ décile (€)
3ᵉ décile (€)
4ᵉ décile (€)
6ᵉ décile (€)
7ᵉ décile (€)
8ᵉ décile (€)
9ᵉ décile (€)
Rapport interdécile D9/D1
S80/S20
Indice de Gini
Part des revenus d’activité (%)
dont part des salaires et traitements (%)
dont part des indemnités de chômage (%)
dont part des revenus des activités non salariées (%)
Part des pensions, retraites et rentes (%)
Part des revenus du patrimoine et autres revenus (%)
Part de l'ensemble des prestations sociales (%)
dont part des prestations familiales (%)
dont part des minima sociaux (%)
dont part des prestations logement (%)
Part des impôts (%)
DISP_NOTE21

## Explore the Data

In [38]:
# First look
print("First 5 rows:")
df_income_meta.head()

First 5 rows:

,IRIS,Taux de pauvreté au seuil de 60 % (%),Incertitude sur les indicateurs DISP_TP6021,1ᵉʳ quartile (€),Médiane (€),3ᵉ quartile (€),Écart inter-quartile rapporté à la médiane,1ᵉʳ décile (€),2ᵉ décile (€),3ᵉ décile (€),...,dont part des indemnités de chômage (%),dont part des revenus des activités non salariées (%),"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres revenus (%),Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%),DISP_NOTE21
0,010040101,"19,0",2,14990,20350,26140,"0,55",11620,14280,16080,...,"3,0","3,6","26,9","6,2","8,6","3,3","3,8","1,5","-12,5",0
1,010040102,"25,0",1,13880,18570,24760,"0,59",10580,12890,14660,...,"4,2","2,4","24,9","5,8","11,1","3,7","5,1","2,3","-12,4",0
2,010040201,"19,0",1,15190,20700,27180,"0,58",11400,14060,16320,...,"3,5","4,0","27,2","6,4","7,7","2,8","3,3","1,6","-13,8",0
3,010040202,"8,0",1,19600,25230,33170,"0,54",14810,18310,20780,...,"2,4","3,6","23,8","16,2","4,0","1,8","1,5","0,7","-17,3",0
4,010330102,"24,0",1,14050,20420,29640,"0,76",9410,12570,15130,...,"4,9","1,9","23,7","5,2","5,3","1,5","2,5","1,3","-13,1",0

In [39]:
# Dataset info
df_income_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16026 entries, 0 to 16025
Data columns (total 30 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   IRIS                                                   16026 non-null  object
 1   Taux de pauvreté au seuil de 60 % (%)                  16026 non-null  object
 2   Incertitude sur les indicateurs DISP_TP6021            16026 non-null  object
 3   1ᵉʳ quartile (€)                                       16026 non-null  object
 4   Médiane (€)                                            16026 non-null  object
 5   3ᵉ quartile (€)                                        16026 non-null  object
 6   Écart inter-quartile rapporté à la médiane             16026 non-null  object
 7   1ᵉʳ décile (€)                                         16026 non-null  object
 8   2ᵉ décile (€)                                          16026 non-null  object
 9   3ᵉ décile (€)                                          16026 non-null  object
 10  4ᵉ décile (€)                                          16026 non-null  object
 11  6ᵉ décile (€)                                          16026 non-null  object
 12  7ᵉ décile (€)                                          16026 non-null  object
 13  8ᵉ décile (€)                                          16026 non-null  object
 14  9ᵉ décile (€)                                          16026 non-null  object
 15  Rapport interdécile D9/D1                              16026 non-null  object
 16  S80/S20                                                16026 non-null  object
 17  Indice de Gini                                         16026 non-null  object
 18  Part des revenus d’activité (%)                        16026 non-null  object
 19  dont part des salaires et traitements (%)              16026 non-null  object
 20  dont part des indemnités de chômage (%)                16026 non-null  object
 21  dont part des revenus des activités non salariées (%)  16026 non-null  object
 22  Part des pensions, retraites et rentes (%)             16026 non-null  object
 23  Part des revenus du patrimoine et autres revenus (%)   16026 non-null  object
 24  Part de l'ensemble des prestations sociales (%)        16026 non-null  object
 25  dont part des prestations familiales (%)               16026 non-null  object
 26  dont part des minima sociaux (%)                       16026 non-null  object
 27  dont part des prestations logement (%)                 16026 non-null  object
 28  Part des impôts (%)                                    16026 non-null  object
 29  DISP_NOTE21                                            16026 non-null  object
dtypes: object(30)
memory usage: 3.7+ MB

In [43]:
# Columns to keep


columns_to_keep = [
    'IRIS',                                                # Geographic code (IRIS)
    'Médiane (€)',                                         # Median income
    'Taux de pauvreté au seuil de 60 % (%)',              # Poverty rate
    '1ᵉʳ décile (€)',                                      # 1st decile
    '9ᵉ décile (€)',                                       # 9th decile
    'Rapport interdécile D9/D1',                           # Interdecile ratio
    'Indice de Gini',                                      # Gini index
    '1ᵉʳ quartile (€)',                                    # Q1 
    '3ᵉ quartile (€)',                                     # Q3 
]

In [45]:
# Create subset
df_income_clean = df_income_meta[columns_to_keep].copy()

print(f" {len(columns_to_keep)} columns selected")


# Column names for SQL


rename_final = {
    'IRIS': 'code_iris',
    'Médiane (€)': 'median_income',
    'Taux de pauvreté au seuil de 60 % (%)': 'poverty_rate',
    '1ᵉʳ décile (€)': 'income_d1',
    '9ᵉ décile (€)': 'income_d9',
    'Rapport interdécile D9/D1': 'income_inequality_ratio',
    'Indice de Gini': 'gini_index',
    '1ᵉʳ quartile (€)': 'income_q1',
    '3ᵉ quartile (€)': 'income_q3',
}

df_income_clean = df_income_clean.rename(columns=rename_final)

 9 columns selected

In [59]:

# Data cleaning


# Panda : "AttributeError: Can only use .str accessor with string values!"

numeric_columns = ['median_income', 'poverty_rate', 'income_d1', 'income_d9', 
                   'income_inequality_ratio', 'gini_index', 'income_q1', 'income_q3']

for col in numeric_columns:
    # Convert to string first, then clean and convert to numeric
    df_income_clean[col] = df_income_clean[col].astype(str)  # Force to string
    df_income_clean[col] = df_income_clean[col].str.replace(',', '.')  # Comma to dot
    df_income_clean[col] = df_income_clean[col].str.replace(' ', '')   # Remove spaces
    df_income_clean[col] = pd.to_numeric(df_income_clean[col], errors='coerce')  # Convert to not crash the code


print("\nData Types")
print(df_income_clean.dtypes)

        
# Missing values
print(f"\nMissing values")
for col in df_income_clean.columns:
    missing = df_income_clean[col].isna().sum()
    if missing > 0:
        pct = (missing / len(df_income_clean)) * 100
        print(f"{col}    {missing}({pct:5.2f}%)")

Data Types
code_iris                   object
median_income              float64
poverty_rate               float64
income_d1                  float64
income_d9                  float64
income_inequality_ratio    float64
gini_index                 float64
income_q1                  float64
income_q3                  float64
dtype: object

Missing values
median_income    1536( 9.58%)
poverty_rate    1540( 9.61%)
income_d1    1536( 9.58%)
income_d9    1536( 9.58%)
income_inequality_ratio    1536( 9.58%)
gini_index    1536( 9.58%)
income_q1    1536( 9.58%)
income_q3    1536( 9.58%)

## Preparation for CSV : distinction IRIS and commune levels

In [66]:
# INSEE commune code

# IRIS = commune code (first 5 chars) + IRIS code (last 4)
# Example: 75101A001 → 75101 (commune) + A001 (IRIS)    ----------> possible to work with commune, IRIS, or both

df_income_clean['code_insee'] = df_income_clean['code_iris'].str[:5]

print(f"\n INSEE commune code : Example: {df_income_clean['code_iris'].iloc[0]} : {df_income_clean['code_insee'].iloc[0]}")

#INSEE commune code : Example: 010040101 : 01004

 INSEE commune code : Example: 010040101 : 01004

In [73]:
output_iris = '../data/processed/income_iris_for_sql.csv'
df_income_clean.to_csv(output_iris, index=False, encoding='utf-8')
print(f" Saved IRIS level: {output_iris} : Rows: {len(df_income_clean):,} , Columns: {df_income_clean.columns.tolist()}")

 Saved IRIS level: ../data/processed/income_iris_for_sql.csv : Rows: 16,026 , Columns: ['code_iris', 'median_income', 'poverty_rate', 'income_d1', 'income_d9', 'income_inequality_ratio', 'gini_index', 'income_q1', 'income_q3', 'code_insee']

In [74]:
# aggregate by commune 

df_income_commune = df_income_clean.groupby('code_insee').agg({
    'median_income': 'mean',           # Average of IRIS medians
    'poverty_rate': 'mean',            # Average poverty rate
    'income_d1': 'mean',
    'income_d9': 'mean',
    'income_inequality_ratio': 'mean',
    'gini_index': 'mean',
    'income_q1': 'mean',
    'income_q3': 'mean',}).reset_index()

print(f"\n Aggregated by commune:")
print(f"   {len(df_income_clean):,} IRIS -> {len(df_income_commune):,} communes")

#       16,026 IRIS -> 1,887 communes

 Aggregated by commune:
   16,026 IRIS -> 1,887 communes

In [77]:
# Create a new table, based on Commune level

df_income_commune = df_income_clean.groupby('code_insee').agg({
    'median_income': 'mean',
    'poverty_rate': 'mean',
    'income_d1': 'mean',
    'income_d9': 'mean',
    'income_inequality_ratio': 'mean',
    'gini_index': 'mean',
    'income_q1': 'mean',
    'income_q3': 'mean',
}).reset_index()

output_commune = '../data/processed/income_communes_for_sql.csv'
df_income_commune.to_csv(output_commune, index=False, encoding='utf-8')
print(f"\nSaved Commune level: {output_commune} : Rows: {len(df_income_commune):,} ,  Columns: {df_income_commune.columns.tolist()}")

Saved Commune level: ../data/processed/income_communes_for_sql.csv : Rows: 1,887 ,  Columns: ['code_insee', 'median_income', 'poverty_rate', 'income_d1', 'income_d9', 'income_inequality_ratio', 'gini_index', 'income_q1', 'income_q3']

In [81]:
print(df_income_clean.head(3)) # IRIS levle

   code_iris  median_income  poverty_rate  income_d1  income_d9  \
0  010040101        20350.0          19.0    11620.0    32060.0
1  010040102        18570.0          25.0    10580.0    31130.0
2  010040201        20700.0          19.0    11400.0    34450.0

   income_inequality_ratio  gini_index  income_q1  income_q3 code_insee
0                      2.8       0.237    14990.0    26140.0      01004
1                      2.9       0.246    13880.0    24760.0      01004
2                      3.0       0.262    15190.0    27180.0      01004

In [80]:
print(df_income_commune.head(3))   # commune level

Communes level (aggregated)
  code_insee  median_income  poverty_rate     income_d1     income_d9  \
0      01004   21212.500000     17.750000  12102.500000  34717.500000
1      01033   23506.666667     18.166667  11451.666667  47356.666667
2      01034   20683.333333     19.000000  12026.666667  36013.333333

   income_inequality_ratio  gini_index     income_q1     income_q3
0                 2.875000    0.260000  15915.000000  27812.500000
1                 4.183333    0.313500  16405.000000  33628.333333
2                 3.033333    0.265667  15663.333333  27396.666667